@import url('https://fonts.cdnfonts.com/css/poppins');
.content h2 {
    color:white;
}

.content {
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    font-size: 20px;
    color: #EBEAEF;
    padding-bottom: 20px
}

a {
    text-decoration: none;
    color: #EBEAEF;
}
.search {
    margin-top:10px;
    font-size:20px;
    padding-left:20px;
    width:auto;
    width:800px;
    height:100%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 12px;
    color:#EBEAEF;
    margin-right: 8px;
    outline:none;
}

.tag {
    display: flex;
    gap:30px;
    margin-top: 15px;
    color:#EBEAEF;
    font-size: 20px;
    padding:10px
}

.tag a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    border-width: 3px;
    text-decoration: none;
    color:#EBEAEF
}

.search::placeholder {
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #EBEAEF;
    opacity: 1;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}