* {  
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

.content {
    text-align: center;
    padding:20px;
}

.search {
    width: 100%;
    max-width: 60%;
    font-size: 20px;
    padding-left: 20px;
    height: 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 12px;
    color: #EBEAEF;
    outline: none;
}

.search::placeholder {
    color: #EBEAEF;
    opacity: 1;
    font-size: 20px;
}

.icon {
    font-size: 25px;
    color:white;
    padding:8px;
}

.grupdetail{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.elemen {
    margin-left:20px;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEF;
    font-size:30px;
    font-weight: 300;
}

.tag {
    background-color: #514C5C;
    border-radius: 10px;
    width: 105px;
    height: 45px;
    display: flex;
    margin-top: 20px;
}

.tag p {
    text-align: center;
    place-content: center;
    margin: auto;
}

.desc {
    color: #EBEAEF;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    margin-right: 22px;
    padding:20px;
    font-size: 25px;
}

.tdesc {
    font-size: 28px;
    font-weight: 300;
}

.sdesc {
    font-size: 20px;
    font-weight: 300;
}