@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {  
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color:white;
}

body {
    background-color: #3B73CA;
}

.header:hover {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}

.header h1{
    text-align:center;
    background-color: #024CAA;
    color:white;    
    padding:15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.search::placeholder {
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #EBEAEF;
    opacity: 1;
    font-size: 20px;
}

.icon {
    font-size: 25px;
}

.footer {
    padding: 13px;
    background-color: #024CAA;
    text-align: center;
    color:white;
}

.footer:hover{
    text-shadow: 10px 7px 6px rgba(0,0,0,0.6);
}

.footer p {
    font-size:18px;
    font-weight: 400;
}