* {
    margin: 0;
    padding: 0;
}

.header {
    text-align:center;
    background-color: #024CAA;
    color:white;    
    padding:20px;
    font-size:20px;
}

.text {
    width:30%;
    margin:auto;
}

.text:hover {
    text-shadow: 2px 3px 11px #000000;
}

.footer {
    padding: 10px;
    background-color: #024CAA;
    text-align: center;
    color:white;
}