* {  
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.content {
    text-align: center;
    padding: 20px;
}

.icon {
    font-size: 25px;
    color: #EBEAEF;
    padding-bottom: 20px;
}

.icon a {
    color:#EBEAEF;
}

a{   
    text-decoration: none;
}

.search {
    font-size:20px;
    padding-left:20px;
    width:50%;
    height:40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 12px;
    color:#EBEAEF;
    margin-right: 5px;
    outline:none;
}

.search::placeholder {
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #EBEAEF;
    opacity: 1;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    place-items: center;
    justify-content: space-between;
}

.grid img {
    width: 100%;
    max-width: 200px;
    height: 250px;
    object-fit: cover !important;
}

.grid img:hover{
    filter: brightness(0.7);
}

.judul{
    color: #EBEAEF;
    font-family:'Poppins',sans-serif;
    margin-left: 0.7rem;
    font-size: 20px;
    text-align: left;
}
.autorb{
    color: #EBEAEF;
    font-family:'Poppins',sans-serif;
    margin-left: 0.7rem;
    margin-top: 0.1rem;
    font-size: 12px;
    text-align: left;
}

.option {
    padding-bottom: 80px;
    color: #EBEAEF;
    font-family:'Poppins',sans-serif;
    display: flex;
    place-content: center;
    padding-top: 20px;
}

.array {
    padding-left: 20px;
    padding-right: 20px;
}

.tagb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    color: #EBEAEF;
    flex-wrap: nowrap;
    margin-bottom: 13px;
}

.hasilsearch {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fillt {
    background-color: #6c95e9;
    padding-bottom: 7px;
    padding-top: 5px;
    font-family: 'Poppins',sans-serif;
    width: 100%;
}



@media (max-width: 1600px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1500px) {
    .grid {
        grid-template-columns: repeat(6, 1fr); 
    }
}

@media (max-width: 1400px) {
    .grid {
        grid-template-columns: repeat(5, 1fr); 
    }
}


@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}


@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}
